.CartList{
    flex: 1 1 auto;
    margin: 1%;
}

table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  tr.mat-header-row{
    font-weight: bold;
  }

.container{
  margin:10rem;
}