<!-- <div class="container">
    <mat-card>
      <mat-card-header>
        Name <span class="CartList"> </span> Quantity<span class="CartList">
        </span>
        Cost
      </mat-card-header>
    </mat-card>
    <mat-card *ngFor="let item of cart">
      <mat-card-header>
        {{ item.title }} <span class="CartList"> </span> {{item.Quantity }}<span class="CartList">
        </span>
        {{ item.price*item.Quantity | currency }}
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        Total <span class="CartList"> </span>{{ getTotalCost() | currency }}
      </mat-card-header>
    </mat-card>
  </div> -->

    <div style="margin: 10rem;">
      <table mat-table  [dataSource]="cart">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
  
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.Quantity }}</td>
          <td mat-footer-cell *matFooterCellDef> {{getQuantity()}} </td>
        </ng-container>
  
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Cost</th>
          <td mat-cell *matCellDef="let row">{{ row.price*row.Quantity | currency }}</td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" (click)="delete(row.id)">Remove</button>
          </td>
          <td mat-footer-cell *matFooterCellDef>    
            <button mat-raised-button color="warn" (click)="deleteAll()">Remove All</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <button mat-raised-button color="primary" [routerLink]="['/home']" style="margin-top: 10px;">
        Continue Shopping
      </button>
    </div>

    